<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ventas</title>
</head>
<body>
    <h1>Lista de Ventas</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID Venta</th>
                <th>Fecha</th>
                <th>Total de la Venta</th>
                <th>Ganancia Total</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.id }}</td>
                <td>{{ venta.fecha }}</td>
                <td>{{ venta.total_venta }}</td>
                <td>{{ venta.ganancia_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>